{% extends 'partials/base.html' %}
{% block title %}Salir{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="logout-wrapper">
    <div class="logout-card">
        <h4>Sesión Cerrada</h4>
        <hr>
        <div class="alert alert-info">
            <h5>Has cerrado sesión exitosamente.</h5>
            <p>¡Esperamos verte pronto! 🌟</p>
        </div>
        <a class="btn btn-primary" href="{% url 'user-login' %}">Volver a Iniciar Sesión</a>
    </div>
</div>
{% endblock %}
